.cardsubject_container {
  width: 15vw;
  height: 15vh;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
  color: #fff;
  box-shadow: 0 0 5px black;
}

.cardsubject_container:hover {
  background-color: #aa9f9f;
  box-shadow: 0 0 2px black;
}

#format_h2 {
  font-size: 1.8rem;
}
