.card_border_radius {
    border-radius: 12px;
}

.cards_container {
    width: 65vw;
    display: flex;
    flex-wrap: wrap;
}

#margin_h2 {
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
}