.footer_left {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.footer_right {
    width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#links_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 30%;
}

#links_left a {
    font-size: 1.5rem;
    color: #86C232;
}
#links_left a:hover {
    color: #61892F;
}

#links_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 30%;
}

#links_right a {
    font-size: 1.5rem;
    color: #86C232;
  }

  #links_right a:hover {
    color: #61892F;
    text-shadow: 0 0 3px #86C232;
}

#facebook > a > img, #twitter > a > img, #inatagram > a > img {
    max-width: 60px;
}
