.cardflow {
    display: flex;
    flex-wrap: wrap;
}

#woe_news_container {
    width: 70vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

#push_left {
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;
}

#push_right {
    width: 80vw;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
}

#woe_news_text_left {
    width: 70%;
    max-width: 808px;
    color: #fff;
    background-color: #363c41;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.9rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#woe_news_text_right {
    width: 70%;
    color: #fff;
    background-color: #363c41;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.9rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#p_announcement{
    font-style: italic;
}

#p_small {
    font-size: 1.1rem;
    font-style: italic;
    margin-top: 15px;
}

#woenews_img_right {
    margin: 0;
    padding: 0;
    width: 55%;
    height: auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#woenews_img_left {
    margin: 0;
    padding: 0;
    width: 55%;
    height: auto;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.home_news_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 0 50px 0;
}