form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 60%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 5px 0 2px 2px;
  margin: 0 0;
  font-size: 1.2rem;
  display: inline-block;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  box-sizing: border-box;
}

input:focus{
    outline: none;
}

#login_btn {
    width: 60%;
    background-color: #242424;
}

#login_btn:hover {
    width: 65%;
    background-color: #363636;
}

#form_size {
    height: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#signup_size {
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}