.magic_container {
    height: 900px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
    margin-top: 35px;
}

#margin_h2 {
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
}

#woe {
    transition: all .2s ease-in-out;
    box-shadow: 0 0 10px #000;
    max-height: 393px;
    border: 1px solid #7e7979;
}
#lotr {
    transition: all .2s ease-in-out;
    box-shadow: 0 0 10px #000;
    max-height: 393px;
}
#mom {
    transition: all .2s ease-in-out;
    box-shadow: 0 0 10px #000;
    max-height: 393px;
}
#one {
    transition: all .2s ease-in-out;
    box-shadow: 0 0 10px #000;
    max-height: 393px;
}

#woe:hover {
    transform: scale(1.1);
    box-shadow: 0 0 50px #000;
}
#lotr:hover {
    transform: scale(1.1);
    box-shadow: 0 0 50px #000;
}
#mom:hover {
    transform: scale(1.1);
    box-shadow: 0 0 50px #000;
}
#one:hover {
    transform: scale(1.1);
    box-shadow: 0 0 50px #000;
}

#pad_mar {
    margin: 0;
    padding: 0;
}
