#cart_item_container {
  width: 40vw;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 5px;
}

#shop_cart_qty {
  width: 50px;
}
#shop_cart_name {
  width: 250px;
}
#shop_cart_price {
  width: 80px;
}

#cart_container h2 {
  font-size: 2rem;
  color: #000;
  margin-bottom: 50px;
  margin-top: 50px;
}

#cart_container {
  height: 100%;
}

.sc_container {
  display: grid;
  grid-template-columns: 150px 345px 0.95fr 0.4fr;
  width: 40vw;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  border-bottom: 1px solid #000;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "sc_quantity sc_name sc_price .";
}
.sc_container > div {
  font-weight: bold;
}

.sc_quantity {
  grid-area: sc_quantity;
}

.sc_name {
  grid-area: sc_name;
}

.sc_price {
  grid-area: sc_price;
}

#the_price_is_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 25px;
}

#total_quantity {
  width: 140px;
}

#total_price {
  width: 200px;
  font-size: 1.5rem;
}

#checkout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

#del_btn {
  border: 1px solid #000;
}

#del_btn:hover {
  background-color: #a82c17;
  border-color: #a82c17;
  box-shadow: 0 0 10px #a82c17;
}

#btn_back {
  background-color: #a82c17;
  color: #fff;
}

#btn_back:hover {
  border-color: #a82c17;
  box-shadow: 0 0 10px #a82c17;
}

#btn_checkout {
  background-color: #86c232;
  color: #000;
  transition: all .2s ease-in-out;
  border: none;
}

#btn_checkout:hover {
  border-color: #86c232;
  box-shadow: 0 0 10px #86c232;
}

#btn_checkout:active {
    box-shadow: 0 0 10px #86c232;
    transform:scale(0.9);
    outline: none;
  }

  #btn_checkout:focus {
    outline: none;
  }

  #payment_details {
    border-top: 3px solid black;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #payment_buttons {
    display: flex;
    justify-content: space-between;
  }

  .payment-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  #buy-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  #details_payment_container {
    height: 100%;
    width: 40vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  #address {
    width: 100%;

  }

  #address_flex {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 70%;
  }

  #payment_flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  #payment_select {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #label_space {
    margin: 20px 0 0 0;
  }

  #input_width {
    width: 70%;
    display: flex;
    justify-content: flex-start;
  }