#singlecard_container {
    width: 50vw;
    height: 100%;
    display: flex;
}

#singlecard_left {
    width: 50%;
}

#singlecard_right {
    width: 50%;
    height: 555px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #000;
}
#singlecard_right p {
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border-bottom: 2px solid #000;
}

#italic {
    font-style: italic;
}

#img_radius {
    border-radius: 15px;
}

#singlecard_btn {
    width: 250px;
}