* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content_container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 0.4fr 1.6fr 1.4fr 0.6fr;
  grid-template-rows: 0.4fr 1.2fr 1.7fr 0.7fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "sidenav side_content side_content ."
    "sidenav side_content side_content ."
    "footer footer footer footer";
}

.start_logo {
  grid-area: start_logo;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
.header {
  grid-area: header;
}
.sidenav {
  grid-area: sidenav;
  border: 2px solid green;
}
.content {
  grid-area: side_content;
  border: 2px solid red;
}
.footer {
  grid-area: footer;
  border: 2px solid rgb(21, 114, 126);
}
