* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body::-webkit-scrollbar{
  display: none;
}

.wrapper {
  background-color: #fff;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_container {
  display: grid;
  width: 99vw;
  background-color: #fff;
  height: auto;
  min-height: 100vh;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 130px 1.2fr 1.7fr 200px;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "site_content site_content site_content site_content"
    "site_content site_content site_content site_content"
    "footer footer footer footer";
}

.start_logo {
  grid-area: start_logo;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
.header {
  grid-area: header;
  background-color: #222629;
  height: 130px;
  box-shadow: 0 0 15px #000;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 10;
}
.sidenavl {
  grid-area: sidenavl;
  background-color: #fff;
  
}

.sidenavr {
  grid-area: sidenavr;
  background-color: #fff;
}

.site_content {
  grid-area: site_content;
  background-color: #fff;
  color: #000;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  grid-area: footer;
  display: flex;
  height: 200px;
  justify-content: space-evenly;
  background-color: #222629;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 0 15px #fff;
}

.shadow {
  width: 100px;
  margin: 0 auto;
  height: 100px;
	background-color: #f5f5f5;
  display: flex;
	align-items: center;
	justify-content: center;
  margin: 40px;
  &.top {
    box-shadow: 0px -15px 10px -15px #111;    
  }
  &.bottom {
    box-shadow: 0px 15px 10px -15px #111;    
  }
  &.left {
    box-shadow: -15px 0px 10px -15px #111;    
  }
  &.right {
    box-shadow: 15px 0px 10px -15px #111;    
  }
}

@media only screen and (max-width: 390px) {
  .content_container {
    display: grid;
    width: 100vw;
    background-color: #222629;
    height: auto;
    min-height: 100vh;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 130px 1.2fr 1.7fr 200px;
    grid-template-areas:
      "header header header"
      ". site_content ."
      ". site_content ."
      "footer footer footer";
  }
}